<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSljdknu6F10ERwfcu9TXoZHdB2-hnXENdFKg&usqp=CAU" class="d-block w-100" alt="..."  height="400px">
        <div class="carousel-caption ">
          <div class="d-none d-sm-block">
            <h5 class="display-3 mb-3">Adding Fun to your Life.</h5>
            <p class="display-3 mb-3">Lets start!</p>
          </div>
          <button class="btn  btn-md  mt-2 transition text-white" (click)="goToRegister()">
            <i class="fas fa-lock fa-1.7x "></i>
            &nbsp;&nbsp;Sign Up For Free</button>
          </div>
        
      </div>
     
    </div>
</div>

<div class="container">
  

  <div class="row mb-3">
    <div class="col-md-4  mt-5">
 
      <div class="card d-block mx-auto">
        <div class="card-body text-center">
          <p class="card-title text-center">What is Our Web Application?</p>
          <p>This card has supporting text below as a natural lead-in to additional content<span id="dots">...</span></p>
          <p id="more">This content is added as you clicked Read more</p>
          <button class="btn  d-block" (click)="read()" id="readclick">Read More</button>
        </div>
      </div>
  

    </div>

    <div class="col-md-4 mt-5">

      <div class="card d-block mx-auto">
        <div class="card-body text-center">
          <p class="card-title">What makes You to See Application?</p>
          <p>This card has supporting text below as a natural lead-in to additional content<span id="dots1">...</span></p>
          <p id="more1">This content is added as you clicked Read more</p>
          <button class="btn  d-block" (click)="read1()" id="readclick1">Read More</button>
        </div>
      </div>
  

    </div>

    <div class="col-md-4 mt-5">

      <div class="card d-block mx-auto">
        <div class="card-body text-center">
          <p class="card-title">Wanna Play Games? Lets Start!</p>
          <p>This card has supporting text below as a natural lead-in to additional content<span id="dots2">...</span></p>
          <p id="more2">This content is added as you clicked Read more</p>
          <button class="btn  d-block" (click)="read2()" id="readclick2">Read More</button>
        </div>
      </div>
  
    </div> 
    
    
    

  </div>
  <div class="row  mb-5">
    <div class="col-md-4 mt-5">

      <div class="card d-block mx-auto">
        <div class="card-body text-center">
          <p class="card-title">How Can You Play Games?</p>
          <p>This card has supporting text below as a natural lead-in to additional content<span id="dots3">...</span></p>
          <p id="more3">This content is added as you clicked Read more</p>
          <button class="btn  d-block float-right" (click)="read3()" id="readclick3">Read More</button>
        </div>
      </div>
  

    </div>

    <div class="col-md-4 mt-5">

      <div class="card d-block mx-auto">
        <div class="card-body text-center">
          <p class="card-title">How to buy the Games?</p>
          <p>This card has supporting text below as a natural lead-in to additional content<span id="dots4">...</span></p>
          <p id="more4">This content is added as you clicked Read more</p>
          <button class="btn  d-block" (click)="read4()" id="readclick4">Read More</button>
        </div>
      </div>
  

    </div>

    <div class="col-md-4 mt-5">

      <div class="card d-block mx-auto">
        <div class="card-body text-center">
          <p class="card-title">How to be a Vip holder? </p>
          <p>This card has supporting text below as a natural lead-in to additional content<span id="dots5">...</span></p>
          <p id="more5">This content is added as you clicked Read more</p>
          <button class="btn  d-block" (click)="read5()" id="readclick5">Read More</button>
        </div>
      </div>
  
    </div> 

  </div>

</div>
       

















