




.card{
  width: 100%;
  height:auto;
  background-color: black;
  transition:all 1.5s ease;
}
img.hiiandi{
  position: relative;
  border-radius: 5px;
  height: 100%;
}
.text{
  text-align: center;
  color: black;
  font-weight:bolder;
  font-size:larger;
  
}


#foc:hover{
  transform: scale(1.08,1.08);

  color: white;
 
  
}

button{
  box-shadow: unset;
}




.card .vivi:hover{
  visibility: visible;
}

#add{
  display: block;
  float:right;
}

.moregames{
  font-size: 30px;
}







